 [Unit]
 Description=Start classification
 After=multi-user.target

 [Service]
 Type=idle
 ExecStart=/usr/bin/python3 /home/pi/classification.py

 [Install]
 WantedBy=multi-user.target
